<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>

{{ current_climate[0].strftime("%c") }}<br>
Outside Temp: {{ current_climate[1] }}<br>
Inside Temp: {{ current_climate[2] }}<br>
Target Temp: {{ current_climate[3] }}<br>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p>
        </p>
        <p>{{ form.status }}</p>
        <p>{{ form.mode }}</p>
        <p>{{ form.target_temp}}</p>
{% for error in form.target_temp.errors %}
            <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

        <p>{{ form.submit() }}</p>
    </form>

</body>
</html>